:root {
--main-text-color: #111111;
--grey-text-color: #555555;
--half-orc-highlight: #9C6D3A;
--blue-kelp: #177983;
--raging-sea: #8D979E;
--white: #FFFFFF;
--Mercury: #EBEBEB;
--million-grey: #999999;
--kingly-cloud: #DEDEDE;
}